<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/Bootstrap.php">
    <logging>
        <log type="coverage-html" target="tests/reports/" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="tests/reports/coverage.xml"/>
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix=".php">src/Exception</directory>
            </exclude>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Unit test suite">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
